
header {
  padding: 20px 30px;
  width: 100%;
  background-image: linear-gradient(90deg, #5e1b89, #f4512c);
}

.logo {
  width: 10rem;
}

.profile {
  width: 41.1px;
  height: 41.8px;
  right: 14.9px;
  position: absolute;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bg {
  width: 1200px;
  height: 700px;
  background: rgba(94, 27, 137, 0.9);
  display: flex;
  flex-direction: column;
  height: 700px; /* Adjust based on your header/footer height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 2rem;
  border: 1px solid #ddd; /* Optional border for visual separation */
  border-radius: 5px;
  overflow-x: scroll;
}

.roboto-slab {
  font-family: "Roboto Slab", sans-serif;
  color: #5E1B89;
  margin: 20px;
}

.lato {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apptitle {
  font-size: 2rem;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.taskInput {
  height: 3rem;
  width: 800px;
  border: 2px solid #FF7F4D;
}

.taskInput:hover {
  outline: none !important;
}

.taskInput:focus {
  outline: none !important;
  
}

ul {
  list-style-type: none;
}

.completed {
  text-decoration: line-through;
}

/* Ensure the task list can grow and shrink */
.taskList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  background-color: #9D71BC;
  margin-bottom: 5px;
  padding: 5px;
}

.task-info {
  display: flex;
  align-items: center;
}

.task-actions {
  display: flex;
  gap: 0.5rem; 
}

.task-text {
  color: #F8FFFE;
}

.allbutt {
  margin: 20px;
  margin-right: 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: right;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.task-text {
  margin-left: 10px;
}

.submit-btn {
  margin: 5px;
  margin-left: 0;

}


input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}


input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  user-select: none;
}


input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.2s, border-color 0.2s;
}


input[type="checkbox"]:checked + label:before {
  background-color: #FF7F4D;
  border-color: #FF7F4D;
}


input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}
.btn-primary {
  --bs-btn-color: #F8FFFE !important;
  --bs-btn-bg: #F4512C !important;
  --bs-btn-border-color: #9D71BC !important;
  --bs-btn-hover-color: #F8FFFE !important;
  --bs-btn-hover-bg: #9D71BC  !important;
  --bs-btn-hover-border-color: #FF7F4D !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #F8FFFE !important;
  --bs-btn-active-bg: #FF7F4D !important;
  --bs-btn-active-border-color: #FF7F4D !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #F8FFFE !important;
  --bs-btn-disabled-bg: #FF7F4D !important;
}
input[type="checkbox"]:checked {
  background-color: #ff7f4d;
  border-color: #ff7f4d;
}

.react-datetime-picker {
  width: 38px;
  margin-bottom: 10px;
  height: 40px;
  margin-left: 10px;
  color:  #F4512C !important;
}

.react-datetime-picker__wrapper{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid #FF7F4D !important;
  height: 48px
  
    
}

.modal-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.task-date{
  margin-left: 10px;
  color: lightgray;
}

.react-datetime-picker__calendar-button__icon,
.react-datetime-picker__button__icon {
  stroke:  #F4512C !important;
}

.btn-primary {
  background-image: linear-gradient(90deg, #5e1b89, #f4512c);
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  color: #5E1B89 !important;
}

.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #5E1B89 !important;
  border-radius: 50%;
}
.react-clock__hand__body {
  position: absolute;
  background-color: #f4512c !important;
  transform: translateX(-50%);
}
.react-clock__mark__body {
  position: absolute;
  background-color: #5E1B89  !important;
  transform: translateX(-50%);
}

.react-calendar__tile--active {
  background:  linear-gradient(90deg, #5e1b89, #f4512c) !important;
  color: white;
}

.react-calendar__tile--now {
  background: #9D71BC !important;
}
.react-datetime-picker {
  color: #9D71BC !important;
}